*{
    padding: 0px;
    margin: 0px;
}

html{
    background-color:white;
}

color{
    background-color: #0a0147;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}




/* FORMATAÇÃO DOS MENUS */

.menu{
    width: 1100px;
    height: 100px;
    background-color: purple;

}

.item-menu{
    width: 200px;
    height: 50px;
    background-color: green;
}






















/* FORMATAÇÃO PROFESSOR/INSTITUIÇÕES/ALUNO */


#caixa-header{
    width: 1200px;
    height: 200px;
    box-sizing: border-box;
}

#title{
    background-color: black;
    width: 1100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
    padding-top: 50px;
}

#menu{
    background-color: red;
    width: 1100px;
    height: 100px;
    box-sizing: border-box;
}

#corpo{
    width: 1200px;
    height: 1300px;
    border: solid 1px black;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);

}


































/* FORMATAÇÃO DA TELA DE LOGIN*/

.txtForm{
    width: 250px;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 120px;
}


#form{
    width: 500px;
    height: 500px;
    border: solid 1px black;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-sizing: border-box;
}

.btn-login{
    width: 260px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-top: 10px;
    background-color: #56baed;
    color: white;
    font-weight: bold;
    font-size: 15px
    
}

.btn-login:hover{
    cursor: pointer;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to left #56baed, black);

}

.label-login{
    margin-left: 220px;
    font-size: 20px;
    font-weight: bold;
    color: black;    
}

.label-login3{
    margin-left: 170px;
    font-size: 20px;
    font-weight: bold;
    color: black;    
}

.label-login2{
    margin-left: 170px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

#titulo-form{
    width: 500px;
    height: 100px;
    border-bottom: solid 1px black;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 45px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 25px;
}

#cadastrar{
    width: 150px;
    height: 50px;
    border-top: solid 1px black;
    border-radius: 5px;
    margin-top: 50px;
    padding-top: 10px;
    margin-left:  170px;
    background-color: #0a0147;
    box-sizing: border-box;
    
}

.center{
    padding-left: 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}

#form2{
    width: 500px;
    height: 600px;
    border: solid 1px black;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-sizing: border-box;
}
  